* {
    box-sizing: border-box;
}

:root {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

header, main, .restart-container {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 3rem;
}

main {
    background-color: white;
    position: relative;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 8px;
    background-color: dimgray;
    
}

.cell {
    --cell-size: 128px;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cell.X::before,
.cell.X::after {
    content: '';
    width: 24px;
    height: 96px;
    background-color: red;
    position: absolute;
}

.cell.X::before {
    transform: rotate(-45deg);
}

.cell.X::after {
    transform: rotate(45deg);
}

.cell.O::before,
.cell.O::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.O::before {
    width: 96px;
    height: 96px;
    background-color: blue;
}

.cell.O::after {
    width: 48px;
    height: 48px;
    background-color: white;
}

.cell:not(.X):not(.O):hover {
    background-color: lightgreen;
}

.restart-container {
    padding-top: 36px;
}

#restart-button {
    width: 192px;
    height: 72px;
    border: 6px solid dimgray;
    background-color: gainsboro;
    font-size: 2rem;
    font-family: Helvetica, sans-serif;
    color: black;
}

#restart-button:hover {
    background-color: silver;
}

.end-banner {
    display: none;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    position: absolute;
    top: 36%;
    text-align: center;
    color: white;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 0 0 16px black;
}

.end-banner.active {
    display: block;
}